@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*.......
 menu bar
 ....... */

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

span h4 {
    margin: 0;
    font-size: 24px;
    margin-left: 120px;

}

nav a {

    text-decoration: none;
    font-size: 15px;
    color: black;
    margin-right: 25px;
    font-weight: bold;
}

#menu-link {
    margin-right: 120px;
}


/*...............
 Section one 
 ..............*/
.first-portion {
    display: flex;
    justify-content: center;

}

.half-width-container {
    width: 50%;
    margin-left: 120px;
    margin-top: 100px;
}

.half-width-container h1 {

    font-size: 50px;
    margin: 0;
}

.half-width-container img {

    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 50%;
    transition: transform 3s ease;


}

.half-width-container:hover img {


    transform: rotate(360deg);
}

.half-width-container button {
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

/*...........
 Logos Container 
 ...........*/

.brand-logos {

    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 50px;
    margin-left: 165px;
    margin-right: 165px;
    border: 1px solid lightgrey;

}

.brand-logos img {

    margin-right: 40px;
}

/*----------------
 Product Section 
 ----------------*/

.second-portion {

    margin-top: 80px;
}

.second-portion>h2 {

    text-align: center;
    padding: 20px;
    font-size: 1.6em;


}

.grid-collection {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 120px;
    margin-right: 120px;
}

.ratings {
    display: flex;
    align-items: center;
}

.ratings p {
    margin: 0;
}

.fa-star.filled {
    color: #FB8200;
}

.fa-star.empty {
    color: gray;
}

.item {

    background-color: white;

    Width: 270px;
    Height: 430px;
    padding: 20px;
    box-shadow: 0 0 15px #ccc;
    transition: transform 1s ease-in;
}

.item:hover {

    transform: scale(1.1);
}

.item-img {
    margin: 0;
}

.item-img img {
    width: 270px;
    height: 270px;
}

.item h2,
h3,
h4 {

    margin: 0;
}

.item h4 {
    color: gray;
}

.see-more {

    margin-top: 40px;
    margin-right: 160px;
}

.see-more a {

    color: #E02C6D;
    font-weight: 900px;
    text-decoration: none;
    font-size: 18px;

}

/* Contact us */

.half-width-container2 {

    width: 50%;
    margin-top: 100px;
}

.half-width-container2 img {

    width: 404px;
    height: 270px;
    margin-left: 120px;
    border-radius: 25px;
}

.half-width-container2 h2 {

    font-size: 35px;
}

.half-width-container2 button {
    background-color: #E02C6D;
    color: white;
    font-size: 15px;
    font-weight: 900px;
    border: none;
    padding: 10px 20px;
}

.half-width-container2:hover button {

    transform: scale(1.2);
}

.sizing {
    margin-right: 120px;
    margin-bottom: 150px;
}


/*-----------
    Footer 
 -----------*/

footer {
    background-color: rgb(15, 15, 80);
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h2,
h5 {
    margin: 0;
    margin-bottom: 5px;
}

.social-media i {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}