@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*.......
 menu bar
 ....... */

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

h4 {
    margin: 0;
    font-size: 24px;
    margin-left: 120px;
}

nav a {

    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-right: 20px;
}

#menu-link {
    margin-right: 120px;
}


/*...............
 Section one 
 ..............*/
.first-portion {
    display: flex;
    justify-content: center;

}

.half-width-container {
    width: 50%;
    margin-left: 120px;
    margin-top: 100px;
}

.half-width-container h1 {

    font-size: 50px;
    margin: 0;
}

.half-width-container img {

    width: 80%;

}

button {
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

/*...........
 Section two 
 ...........*/

.brand-logos {

    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 50px;
    margin-left: 165px;
    margin-right: 165px;

}

.brand-logos img {

    margin-right: 40px;
}

/* .logo img {
    margin-right: 50px;
} */